/* фон начало*/
.jumbotron1 {
  color: rgb(255, 255, 255);
  background-image: url("img/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -khtml-background-size: cover;
  -ms-background-size: cover;
}
.jumbotron2 {
  color: rgb(255, 255, 255);
  background-image: url("img/2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -khtml-background-size: cover;
  -ms-background-size: cover;
}
.jumbotron3 {
  color: rgb(255, 255, 255);
  background-image: url("img/Muscle-Car-SplitShire-3D-0009.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -khtml-background-size: cover;
  -ms-background-size: cover;
}
/* фон конец*/

/*нижняя панель начало*/

footer {
  background: #16222a;
  background: -webkit-linear-gradient(59deg, #3a6073, #16222a);
  background: linear-gradient(59deg, #3a6073, #16222a);
  color: white;
  margin-top: 100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #fa944b;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #ffffff;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #f9f9f9;
}

/* нижняя панель конец */

html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
}
.section-content {
  padding: 6rem 0;
}
#about {
  background: transparent;
  background-size: cover;
}
.about-text {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1.87rem;
  border-radius: 0.2rem;
}
#footer-main {
  background: #222;
  color: white;
  font-size: 0.8rem;
  padding: 2.5rem;
}
#pagination {
  text-align: center;
  padding: 5rem 0;
}
/*  точки останова для адаптивного дизайна */
@media only screen and (max-width: 400px) {
  .display-3 {
    display: none;
  }
}
@media only screen and (max-width: 990px) {
  .name {
    margin-right: 8rem;
  }
}
