/* фон начало*/
.jumbotron1 {
  color: rgb(255, 255, 255);
  background-image: url("img/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -khtml-background-size: cover;
  -ms-background-size: cover;
}
.jumbotron2 {
  color: rgb(255, 255, 255);
  background-image: url("img/2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -khtml-background-size: cover;
  -ms-background-size: cover;
}
.jumbotron3 {
  color: rgb(255, 255, 255);
  background-image: url("img/Muscle-Car-SplitShire-3D-0009.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -khtml-background-size: cover;
  -ms-background-size: cover;
}
/* фон конец*/
